*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#000;
    min-height:100vh;
    overflow:hidden;
}

.card{
    width:100%;
    height:100vh;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.line{
    width:160px;
    height:1px;
    background:#444;
    margin-bottom:35px;
}

.logo{
    font-size:90px;
    color:#1fc8ff;
    margin-bottom:15px;
}

.brand{
    text-align:center;
    color:white;
    margin-bottom:35px;
}

.brand h1{
    font-size:72px;
    line-height:1;
    font-weight:800;
    letter-spacing:2px;
}

.brand h3{
    font-size:32px;
    font-weight:700;
}

form{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-box{
    width:340px;
    margin-bottom:15px;
}

.input-box input{
    width:100%;
    padding:14px 16px;
    border:none;
    border-radius:4px;
    background:#e9e9e9;
    outline:none;
    font-size:14px;
}

.btn{
    margin-top:5px;
    width:90px;
    height:35px;
    border:none;
    border-radius:4px;
    background:#1fc8ff;
    color:white;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#0eb3e6;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:78px;
    background:#313131;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
}

.foot-item{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:14px;
}

.foot-item i{
    color:#29c8ff;
    font-size:38px;
}
.error-msg{
    background:#ff4d4d;
    color:white;
    padding:10px;
    border-radius:5px;
    margin-bottom:15px;
    text-align:center;
    font-size:13px;
}